
<%
	for(var i = 0; i < data.length; i++) {
		var vo = data[i];	
%>
	<tr id="list-tr" data-no="<%=vo.no%>">
		<td><%=(i + 1)%></td>
		<td><%=vo.name %></td>
		<td><%=vo.postNum%></td>
		<td><%=vo.description%></td>
		<td>
		<%	if( vo.postNum !=0 ){ %>
				삭제 불가
	
		<% } if( vo.postNum == 0 ){ %>
				<a data-no="<%=vo.no%>" href="">
				<img src="<%=data.image%>"></a>

		<% } %>			
		</td>
	</tr>
<%
	}
%>